.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#imgMe{
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 400px;
  height: 400px;
  box-shadow: 5px 5px 5px rgb(159, 155, 155);
}

#body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

#backgroud-image{
  background-image: url('https://cdn.wallpapersafari.com/67/76/qtpSIw.jpg');
}

#body{
  background-color: #dfe8ea;
}

#divp{
  /* background-color: #7798ab; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}

#headname{
  
  color: #e8dcb9;
}

.nav-link{
  color: #e8dcb9 !important;
}

.navbar{
  background-color: #1e3b41;
}

label{
  color:#666460;
}

.card {
  background-color: #b8cdda;
background-image: linear-gradient(315deg, #b8cdda 0%, #d5f2f2 56%);
box-shadow: 5px 5px 5px rgb(159, 155, 155);

}

#name-edit {
  box-shadow: 5px 5px 5px rgb(159, 155, 155);
}

#send:hover {
  background-color: rgb(21, 173, 173);
}
h1 {
  font-family:serif;
  text-decoration: underline;
}

h4{
  text-decoration: underline;
}

#btn {
  background: none!important;
  border: none;
  padding: 2!important;
  /*optional*/
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

#card{
  height: 300px;
  width: 300px;
}